[submodule "gruvbox-community/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox
[submodule "vim-airline/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-theme
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "preservim/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "Xuyuanp/nerdtree-git-plugin"]
	path = pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "Yggdroot/LeaderF"]
	path = pack/plugins/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF
[submodule "junegunn/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "dense-analysis/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "airblade/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "neoclide/coc.nvim"]
	path = pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "clangd/coc-clangd"]
	path = pack/plugins/start/coc-clangd
	url = https://github.com/clangd/coc-clangd
[submodule "fatih/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "mechatroner/rainbow_csv"]
	path = pack/plugins/start/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv
