[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/LeaderF"]
	path = pack/plugins/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/coc"]
	path = pack/plugins/start/coc
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/opt/coc-clangd"]
	path = pack/plugins/opt/coc-clangd
	url = https://github.com/clangd/coc-clangd
[submodule "pack/plugins/opt/vim-go"]
	path = pack/plugins/opt/vim-go
	url = https://github.com/fatih/vim-go
[submodule "pack/plugins/start/rainbow_csv"]
	path = pack/plugins/start/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv
